/*==========================================
                Defaults
============================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #14a4e6 */
:root {
  --main-color: rgb(20, 164, 230);
}
body {
  overflow-x: hidden;
}
.purecounter {
  font-size: 24px;
}
.counters {
  width: 100%;
  margin: 0 auto;
}
.active {
  background: var(--main-color);
  color: white !important;
}
.active:hover {
  background-color: var(--main-color) !important;
}
/*
    CSS for loading icon
*/
#loading {
  background: #fff url("assets/img/spinner.gif") no-repeat center;
  background-size: 5%;
  height: 100vh;
  z-index: 9999;
  position: fixed;
  width: 100%;
}
.wrapper {
  margin: 0 auto;
  height: auto;
  background-color: white;
}
a {
  color: black;
  text-decoration: none;
}

li {
  list-style-type: none;
}
svg {
  color: var(--main-color);
}
/*==========================================
                Header
============================================*/
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px 0px 25px;
  border-bottom: 1px solid #ddd;
  box-shadow: 1px 1px blanchedalmond;
  max-height: 70px;
}
.logo {
  position: relative;
  max-width: 50%;
}
.logo img {
  float: left;
  position: absolute;
  top: 7px;
  max-height: 35px;
  max-width: 35px;
}
.logo p {
  margin-left: 40px;
}
li > a.btn:hover {
  box-shadow: 1px 3px #888888;
}
nav {
  position: relative;
  width: 50%;
}
nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul li {
  position: relative;
}
nav ul li::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  bottom: -10px;
  left: 0;
  position: absolute;
  transition: 0.5s;
}
nav ul li:hover::after {
  width: 100%;
}
nav ul li a {
  padding: 20px 0;
}
nav ul li:last-child:hover::after {
  width: 0%;
}
button.btn-hire-me,
button.see-my-work,
button.hire-me-now {
  width: 100px;
  padding: 7px 0;
  text-align: center;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid var(--main-color) !important;
  background: white;
  opacity: 0.9;
  color: var(--main-color);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
button.btn-hire-me span,
button.see-my-work span,
button.hire-me-now span {
  background-color: var(--main-color);
  height: 100%;
  width: 0%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button.btn-hire-me:hover span,
button.see-my-work:hover span,
button.hire-me-now:hover span {
  width: 100%;
}
button.btn-hire-me:hover,
button.see-my-work:hover,
button.hire-me-now:hover {
  color: white !important;
}
button.see-my-work,
button.hire-me-now {
  width: 150px;
}

/*Menu bar icon*/
/* .menu-bar-icon {
  position: absolute;
  right: 0;
  top: -30px;
  display: none;
  cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
} */

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/*=========================================================
                    main
===========================================================*/
main {
  margin: 0 auto;
}

.hero {
  clear: both;
  /* position: relative; */
  max-width: 100%;
  margin: 20px;
  margin-left: 15%;
  min-height: 350px;
  background: url("assets/img/bg.png") no-repeat;
  background-size: 350px 400px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.type {
  /* top: 100px; */
  width: 40%;
  margin-right: 10%;
  margin-left: 10%;
  /* position: absolute;
  right: 0; */
}
#typed {
  color: rgb(20, 164, 230);
}

/*==============================================================
                    Bio data
===============================================================*/
.my-bio {
  background-color: #f4f4f4;
}

.bio-content {
  min-height: 250px;
  background-image: url("assets/img/bio.svg");
  background-repeat: no-repeat;
  background-attachment: contain;
  background-position: 80% 50%;
  background-size: 350px 400px;
  display: flex;
  margin-left: 90px;
  align-items: center;
}
.bio-content-main {
  margin-left: 120px;
  width: 30%;
  text-align: justify;
}
/*==============================================================
                    Services
================================================================*/

.services {
  overflow: hidden;
  clear: both;
  position: relative;
}
.services-txt,
.portfolio-txt,
.bio-text,
.myskills-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.bio-text {
  padding-bottom: 0;
}
.services h4,
.portfolio h4,
.bio-text h4,
.myskills-text h4 {
  position: relative;
  word-spacing: 200px;
  font-family: Myriad Pro, sans-serif;
  font-weight: lighter;
  color: black;
  opacity: 0.5;
}
.services-txt > h2,
.portfolio-txt > h2,
.bio-text > h2,
.myskills-text > h2 {
  position: absolute;
  font-size: 38px;
  opacity: 0.1;
}
.services-main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-flow: wrap;
}
.card {
  display: flex;
  justify-content: center;
  max-width: 250px;
  max-height: 230px;
  margin: 10px;
  padding: 20px;
  position: relative;
  opacity: 0.9;
  transition: 1s;
}
.card::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  background-color: var(--main-color);
  z-index: -1;
  height: 0%;
  width: 100%;
  transition: 1s;
}
.card:hover::before {
  height: 100%;
}
.card::after {
  content: "";
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: var(--main-color);
  z-index: -1;
  height: 0%;
  width: 100%;
  transition: 1s;
}
.card:hover::after {
  height: 100%;
}

.card:hover {
  color: white !important;
  box-shadow: 3px 3px rgb(6, 197, 255);
  margin: 10px;
  padding: 20px;
  transition: 1s;
}
.card svg {
  transition: 1s;
}
.card:hover svg {
  color: white;
}
/* .card:hover h6 {
  color: white;
} */

.card p {
  margin: 0 auto;
}
.card h6 {
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: center;
}
/*============================================
                Portfolio
==============================================*/
.portfolio-filter ul {
  display: flex;
  justify-content: center;
}
.portfolio-filter ul li {
}
.portfolio-filter ul li a {
  padding: 8px 18px;
  border: 1px solid gainsboro;
  color: grey;
}
.portfolio-filter ul li a:hover {
  background-color: rgb(223, 226, 223);
}
.portfolio {
  clear: both;
  overflow: hidden;

  margin-top: 100px;
  background-color: #f4f4f4;
}
.portfolio h2 {
}
.portfolio h4 {
}
.portfolio-main {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  flex-direction: row;
}
.portfolio-demo {
  margin: 10px;
  border: 1px solid #ddd;
  min-height: 200px;
  position: relative;
}
.portfolio-demo::after {
  content: "";
  position: absolute;
  background-color: blue;
  top: 0;
  left: 0;
  opacity: 0;
  min-height: 240px;
  width: 250px;

  transition: 0.5s ease-in-out;
}
.portfolio-demo:hover::after {
  opacity: 0.5;
}
.portfolio-demo:hover .pd-txt {
  color: white !important;
  opacity: 1;
  z-index: 9;
}

.portfolio-demo > .demo {
}
.portfolio-demo > .demo > img {
  max-width: 250px;
}
.portfolio-demo > .demo > img:hover {
}

.pd-txt {
  z-index: -1;
  text-align: center;
  opacity: 0;
  top: 50px;
  max-width: 250px;
  position: absolute;
  transition: 1s ease-in;
}
.pd-txt > h2,
.pd-txt > p {
  color: white !important;
}
.pd-txt a {
  border-color: white;
  color: white;
}
/*==================================================
                 progress myskills
====================================================*/
.skills {
  margin-left: 20%;
  margin-right: 20%;
}
.progress {
  height: 35px;
  margin-bottom: 10px;
}
.progress .skill {
  line-height: 35px;
  padding: 0;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}
.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}
.progress-bar {
  width: 1px;
  text-align: left;
  transition: 0.9s;
}

/*=====================================
         my skills                      
=======================================*/
.my-skills {
  background-color: #f4f4f4;
}

/*=====================================
         Feedback                      
=======================================*/
.feedback {
  margin: 0 auto;
  max-width: 90%;
  height: 400px;
  background-color: #f4f4f4;
}
/*===========================================
                Footer
=============================================*/
footer {
  background-color: #f4f4f4;
}
.footer-menu {
  padding-top: 20px;
  margin: 50px;
}
.text-nav {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-flow: wrap;
}
.text-nav ul {
  margin-right: 50px;
  min-width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
}
.text-nav ul li {
}
.text-nav ul li a {
}
.text-nav input[type="search"] {
  background: url("assets/img/search.png") no-repeat right center;

  background-size: 15px;
  max-width: 30%;
  padding: 0px 20px;
  border-radius: 20px;
  border: 1px solid #ddd;
  position: relative;
}
input[type="search"]:focus {
  outline: none;
}
input[type="search"]::-moz-focus-inner {
  margin: 0px 15px;
}
input[type="search"]::-webkit-search-cancel-button {
  position: absolute;
  left: 5px;
  background-color: black;
}
.social-nav {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.social {
}
.social svg {
  margin: 10px;
  color: #ddd;
}
.social > svg:hover {
  color: rgb(20, 164, 230);
}

/*=======================================
                Copyright
==========================================*/
.copyright {
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}
