/*=================================================
                Media Query
===================================================*/
/* start of desktop styles */

@media screen and (max-width: 991px) {
  /* start of large tablet styles */
}

@media screen and (max-width: 907px) {
  /* start of medium tablet styles */
  .wrapper {
    width: 100vw;
    overflow-x: hidden;
  }
  .hero {
    margin-left: 0;
    background: none;
  }
  .type {
    text-align: center;
    margin: 0px auto;
    max-width: 100%;
  }
  .bio-content {
    background: none;
  }
  .bio-content-main {
    text-align: center;
    width: 80%;
    margin-left: 0px;
  }
}

@media screen and (max-width: 727px) {
  /* start of phone styles */
  .hero-img {
    display: none;
  }
  .type {
    text-align: center;
    max-width: 100%;
  }
  .menu-bar-icon {
    display: inline-block;
  }
  nav > ul {
    display: none !important;
  }
  .text-nav ul li {
    display: block;
    width: 100%;
    text-align: center;
  }
  .text-nav input[type="search"] {
    background: url(img/search.png) no-repeat right;
    background-origin: content-box;
    background-size: 17px;
    max-width: 37%;
    padding-right: 3px;
    border-radius: 20px;
    border: 1px solid #ddd;
    transition: 3s ease-in-out;
  }
  .text-nav input[type="search"]::placeholder {
  }
  input[type="search"]:focus {
    outline: none;
    max-width: 225%;
  }
}
@media screen and (max-width: 321px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
  }
  .type {
  }
  .type h3 {
    font-size: 16px;
  }
  .menu-bar-icon {
    display: inline-block;
  }
  nav > ul {
    display: none !important;
  }
  .hire-me {
    margin: 25px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
  }
  .hm-text {
    width: 75%;
  }
  .hm-btn {
    margin-left: 10px;
  }
  .text-nav input[type="search"] {
    background: url(img/search.png) no-repeat right;
    background-origin: content-box;
    background-size: 17px;
    max-width: 37%;
    padding-right: 3px;
    border-radius: 20px;
    border: 1px solid #ddd;
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .text-nav input[type="search"]::placeholder {
  }
  input[type="search"]:focus {
    outline: none;
    max-width: 225%;
  }
  .text-nav ul li {
    text-align: center;
    display: block;
    width: 100%;
  }
}
